{% extends 'app/base.html'%}
{% load static %}
{% block tittle %}profile{% endblock %}
{% block main-content %}
<div class="container">
    <div class="row">
        <h3>welcome {{request.session.firstName}}</h3>
        <h3 class="text-center text-danger">{{msg}}</h3>
        <div class="col-sm-2 border-end">
           <ul class="list-unstyled">
            <li class="d-grid"><a href="#" class=" btn btn-primary"> change Password</a></li>
           </ul>
        </div>
        <div class="col-sm-9 offset-sm-1">
            <form method="POST" action="{% url 'changePassword' user.Email %}">
                {% csrf_token%}
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Old Password</label>
                    <input type="text" class="form-control"  name="oldpassword">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">New Password</label>
                  <input type="text" class="form-control"   name="newpassword">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                    <input type="text" class="form-control" name="cpassword">
                </div>
                
                <button type="submit" class="btn btn-primary">Update</button>
              </form>
    
        </div>
    </div>
</div>
{% endblock main-content %}