{% extends 'app/base.html'%}
{% load static %}
{% block tittle %}Buy now{% endblock %}
{% block main-content %}
  <div class="container">
    {% if message %}
    {% for msg in message %}
    <div class="alert alert-danger" role="alert">
        {{msg}}

    </div>
    {% endfor %}
    {% endif %}
    <div class="row mt-5">
        <div class="col-sm-6">
            <h4>Order Summary </h4>
            <hr>
            {% for item in cart_items %}
            <div class="card mb-2">
                <div class="card-body">
                    <h5>Product: {{item.product.tittle}}</h5>
                    <p>Quantity : {{item.quantity}}</p>
                    <p class="fw-bold">Price: {{item.product.discounted_price}}</p>
                </div>
            </div>
            {% endfor %}
        
        <p class="fw-bold">Total cost + Rs. 40 ={{totalamount}}</p>
        <small>Term Conditions : Lorem ipsum, dolor sit amet itiis hic asperiores velit ducimus aperiam itaque, ad repellat soluta incidunt quia.</small>
        </div>
    
    <div class="col-sm-4 offset-sm-1">
        <h4>Select Shipping Address</h4>
        <hr>
        <form action="" method="POST" id="myform">
            {% csrf_token %}
            {% for ad in add %}
            <div class="card">
                <div class="card-body">
                    <h5>{{ad.firstName}}</h5>
                    <p>modile: {{ad.contact}}</p>
                    <p> Address: {{ad.address}}</p>
                </div>
            </div>
            <div class="form-check mt-2 mb-5">
                <input type="radio" class="form-check-input" name="custid" id="custadd{{forloop.counter}}" value="{{ad.id}}">
                <label class="form-check-label" for="custadd{{forloop.counter}}">Address:{{forloop.counter}}</label>
            </div>
            {% endfor %}
            <div class="form-check  mb-3">
                <label class="form-label" for="Total Amount">Total Amount</label>
                <input type="number" class="form-control" name="totalamount"  value="{{totalamount}}" readonly>
            </div>
            <div class="text-end">
                <button id="rzp_vutton1" type="submit" class="btn btn-warning mt-3 px-5 fw-bold">Payment</button>
            </div>
        </form>
    </div>
  </div>
</div>
{% endblock main-content %}