.gallery {
    width: 100%;
    
}
.buttermilk{
    padding: 50px 40px;
    border: 1px solid #efe8e1;
    padding-bottom: 20px;
}
.mlkpro{
    color: #636362;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 15x;
    width: 43%;
    margin: 0 auto;
    text-align: center;
}
.goodnesssec a{
    text-decoration: none;
}

